*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    word-break: break-all;
}
 body{
    min-height: 100vh;
    background-color: #2F4F4F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: white;
    padding: 12px 20px;
}

.logo img {
    height: 95px;
    width: 130px;
    cursor: default;
}


.menu{
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #2F4F4F;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: cursive;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2F4F4F;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    font-weight: bold;
    width: 100%;
}

nav a.active{
    text-decoration: underline;
    font-weight: bold;
}

.open-menu , .close-menu {
    position: absolute;
    color: #2F4F4F;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

.hot-content{
    text-align: center;
    margin-left: 400px ;
    padding-top: 120px;
    margin-right: 300px;
    margin-bottom:50px ;
    margin: 0 auto;
    margin-top: 0;
}

.h1-1{
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: white;
}
.menu-content{
    display: flex;
    justify-content: center;
}

.menu-content img {
    float: left;
    width: 300px;
    height: 500px;
    border-top-left-radius: 40px;

}

.hot-content-box {
    background-color: #f0f0f0;
    border-bottom-right-radius: 40px;
}

.content-box{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.h2-1{
    padding-bottom: 30px;
    padding-right: 200px;    
    margin-left: 20px;
    text-decoration: underline;
    word-break: keep-all;

}

.h2-2{
    color: #2F4F4F;
    font-size: 20px;
    margin-right: 30px;
    word-break: keep-all;

}

.main{
    padding-top: 150px;
    margin-bottom: -150px;
    padding-bottom: 0;
}

.cup{
    width: 120px;
    height: 170px;
    border-radius: 50%;
    border-bottom: 7px solid #949ca9;
    margin: 0 auto -20px;
    margin-right: 950px;
    position: relative;
    background: linear-gradient(2deg, #9fa8b55a 10%, transparent 5%);
}

.cup::before, .cup::after{
    content: "";
    position: absolute;
}

.cup::before{
    width: 120px;
    height: 30px;
    border-right: 7px solid #808793;
    border-top: 3px solid #808793;
    border-bottom: 3px solid #808793;
    border-radius: 50%;
    border-left: 5px solid #9fa8b55a;
    top: 70px;
}

.cup::after{
    width: 59px;
    height: 40px;
    border-right: 5px solid #949ca9;
    border-radius: 0 82px 101px 0;
    right: -11px;
    top: 98px;
    transform: rotate(10deg);
}

.smoke-holder span{
    animation: smoke 2.2s linear infinite;
    position: absolute;
    border: 2px solid rgba(128, 128, 128, 0.6);
    width: 2px;
    height: 10px;
    top: 110px;
    left: 60px;
    z-index: -1;
    filter: blur(3px);
}

.smoke-holder span:nth-of-type(2){
    animation-delay: 0.3s;
    
}

.smoke-holder span:nth-of-type(3){
    animation-delay: 0.6s;

}

.smoke-holder span:nth-of-type(4){
    animation-delay: 0.9s;

}

.smoke-holder span:nth-of-type(5){
    animation-delay: 1.2s;

}

.smoke-holder span:nth-of-type(5){
    animation-delay: 1.5s;

}

@keyframes smoke{
    25%, 75%{
        left: 50px;
    }
    50%{
        left: 60px;
    }
    90%{
        opacity: 1;
    }
    100%{
        top: -20px;
        left: 60px;
        filter: blur(5px);
        opacity: 0;
        transform: scale(6);
    }
}

.coffee{
    position: absolute;
    width: 110px;
    height: 50px;
    left: 50%;
    background: rgba(111, 78, 55, 0.7);
    border-radius: 0 0 216px 216px;
    transform: translate(-50%, 0);
    bottom: 1px;
    z-index: -1;
}

.coffee::before{
    animation: shakecoffee 1.2s alternate linear infinite;
    background: #6f4e37;
    border-radius: 50%;
    content: "";
    top: -5px;
    width: 102px;
    height: 12px;
    left: 50%;
    outline: 1px solid transparent;
    transform: translate(-50%, 0) rotate(0);
    position: absolute;    
}

.saucer::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 82px;
    background: #9fa8b5;
    top: 26px;
    left: 28px;
    border-radius: 0px 0px 25px 25px;
}

.saucer{
    margin: auto;
    width: 150px;
    height: 40px;
    border-radius: 50%;
    border: 7px solid #9fa8b5;
    border-top: none;
    margin-right: 933px;
    position: relative;
    z-index: -2;
    background: #9fa8b5;
}

.saucer::before{
    content: "";
    position: absolute;
    width: 40%;
    border: 4px solid #9199a5;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -38%);
    top: 50%;
    border-radius: 50%;
    height: 42%;
}

@keyframes shakecoffee{
    100%{
        transform: translate(-50%, 0) rotate(2deg);
    }
}



.menu-header{
    font-family:'Courier New', Courier, monospace;
    font-size: 150px;
    color: white;
    margin: 0 auto;
    position: relative;
    margin-right: 600px;
    margin-left: 650px;
    word-break: keep-all;
    transform: translate(10%, -80%);
}