*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    min-height: 100vh;
    background-color: #2F4F4F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: white;
    padding: 12px 20px;
}

.logo img {
    height: 95px;
    width: 130px;
    cursor: default;
}


.menu{
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #2F4F4F;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: cursive;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2F4F4F;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after{
    font-weight: bold;
    width: 100%;
}

nav a.active{
    text-decoration: underline;
    font-weight: bold;
}

.open-menu , .close-menu {
    position: absolute;
    color: #2F4F4F;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

.hot-content{
    padding-top: 130px;
    text-align: center;
}

.h1-1{
    margin-bottom: 50px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: white;
}
.menu-content{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-content img {
    float: left;
    width: 300px;
    height: 500px;
    border-top-left-radius: 40px;
}

.hot-content-box {
    background-color: #f0f0f0;
    border-bottom-right-radius: 40px;
}

.content-box{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.h2-1{
    padding-bottom: 30px;
    margin-right: 250px;
    margin-left: 20px;
    text-decoration: underline;
}

.h2-2{
    color: #2F4F4F;
    font-size: 20px;
    margin-right: 30px;
}

